h3{
  color:antiquewhite;
  font-size: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-section h1{
  margin: 0;
  padding: 0.67em 0;
}


/* BENS CSS FOR SIDE-NAV */
.side-nav {
    /* background: black; */
    width: 100%;
    height: 25em;
    padding: 0.5rem;
    border-bottom: black solid 7px;
    border-radius: 15px;
}

.link {
    text-decoration: none;
    color: white;
}

.linkCenter{
  display:flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1023px) { 
  .logo-section{
    border-bottom: solid 1px #172891;
  }

  .logo-section h1{
    text-align: left;
    margin: 0;
    padding: 0.67rem 0 0.67rem 0.67rem;
  }

  .logo-section .search-container{
    position: absolute;
    top: 23px;
    left: 50%;
  }
  .side-nav{
    height: 0 !important;
    overflow: hidden;
    padding: 0;
  }

  .side-nav.active{
    padding: 0.5rem 0;
    height: 355px !important;
  }

  .navWrap{
    width: 100% !important;
    left: 0;
    top: 0;
    height: 0 !important;
    background-color: black;
  }

  .mobile_menu{
    display: block !important;
  }

  .dash_line {
    width: 100%;
    height: 5px;
    background: white;
    position: relative;
    margin-bottom: 5px;
  }
 


  .resizeBar{
    display: none !important;
  }
}

.resizeBar{
  position: fixed;
  left: 350px;
  width: 5px;
  height: 100vh;
  background-color: black;
  cursor:col-resize;
  z-index: 100;
  top: 0;
}

.navWrap{
  position: fixed;
  width: 350px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(0,0,0,0.89);
  z-index: 11;
  min-width: 120px;
}
.player{
  width: 100%;
  
}

.side-nav{
  border-bottom: none;
  border-radius: 0;
}
.mainSection{
  width: calc(100% - 350px);
  left: 350px;
  position: relative;
  display: block;
}

.mobile_menu{
  position: absolute;
  right: 0.67rem;
  width: 30px;
  height: 30px;
  top: 21px;
  display: none;
  cursor: pointer;
}

/*.side-nav{
  border-radius: 0;
  border-bottom: 0;
  height: 100%;
  z-index: 1;
}

*/


@keyframes animateBg {
  0%    { background-size: 100% 100%; }
  25%   { background-size: 150% 120%; }
  50%   { background-size: 120% 150%; }
  75%   { background-size: 180% 120%; }
  100%  { background-size: 100% 100%; }
}


body{
  background: url('https://cdn.dribbble.com/users/156849/screenshots/6993098/32.gif');
  background-size: cover;
  /* animation: animateBg 3.5s linear infinite; */
  /* min-height: 100vh; */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.swiper-slide h2{
  line-height: 1;
  height: 48px;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom: -3px;
}

.swiper-container{
  padding: 15px 0;
}
.swiper-button-next{
  color: bisque;
}
.swiper-button-prev{
  color: bisque;
}
body{
  font-family: 'Macondo', cursive;
}

