

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #292929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-section h1{
  margin: 0;
  padding: 0.67em 0;
}
h3{
  font-size: 40px;
}


/* BENS CSS FOR SIDE-NAV */
.side-nav {
    background-color:rgba(0,0,0, 0.98);
    width: 20em;
    height: 25em;
    padding: 0.5rem;
    border-bottom: black solid 7px;
    border-radius: 15px;

}

.link {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1023px) {
  .logo-section{
    border-bottom: solid 1px #172891;
  }

  .logo-section h1{
    text-align: left;
    margin: 0;
    padding: 0.67rem 0 0.67rem 0.67rem;
  }

  .logo-section .search-container{
    position: absolute;
    top: 23px;
    left: 50%;
  }

  .side-nav{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /*padding: 0.5rem 0;*/
    padding: 0;
    overflow: hidden;
    height: 0 !important;
    transition: all 0.1s ease-in;
    position: relative !important;
  }

  .side-nav.active{
    padding: 0.5rem 0;
    height: 355px !important;
  }

  .mobile_menu{
    display: block !important;
  }

  .dash_line {
    width: 100%;
    height: 5px;
    background: white;
    position: relative;
    margin-bottom: 5px;
  }

  .mainSection{
    width: 100%;
    left: 0px;
  }
}

.mobile_menu{
  position: absolute;
  right: 0.67rem;
  width: 30px;
  height: 30px;
  top: 21px;
  display: none;
  cursor: pointer;
}

.side-nav{
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  border-bottom: 0;
  height: 100vh;
  z-index: 1;
}

.mainSection{
  width: calc(100% - 336px);
  left: 336px;
  position: relative;
  display: block;
}