

.new-albums, .featured-playlists {
    display: flex;
    margin: 5rem;
    justify-content: center; 
    text-align: center;
}
.album, .playlist {
    display: flex;
    justify-content: center;
    /* padding: 5rem; */
}
.album-img, .playlist-img {
    width: 12em;
}

.slides {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding: 15px;
    /* padding-bottom: 0px; */
    width: 70em;
}



.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 0%;
}

.slides .slick-next {
    right: 0%;
}
