.entirePage {
    display: flex;
}
.pageContainer {
    display: flex;
    flex-direction: row;
}
.sideNav {
    align-self: flex-start;
}
.searchBar {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 25px;
}
.wtf {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.searchButton {
    width: 10%;
    height: 10%;
}
.searchResults {
    justify-content: space-around;
}
.container {
    display: flex;
}
.cover {
    display: flex;
}
.cards {
    border: 2px solid black;
}