body {
    /* background-color: #021f59; */
/*   
    display: block;
    background-size: cover; */
}
/* .cover {
    background-image: url('../public/jellygif.gif');
    background-size: cover;
} */
.searchContainer {

}
.searchBar {
    /* width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%; */

}
.searchButton {
    /* position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 25px;
    left: 95%;
    top: 50%;
    transform: translate(-50%, -50%); */
}